Warehouse/Connected Services/WholesalerServiceReference/WholesalerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63509/WholesalerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wholesaler" />
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wholesaler" minOccurs="0" name="lineItem" nillable="true" type="q1:LineItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>